* {
  padding: 0px;
  margin: 0px; }

html {
  font-size: 10px; }

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  #header nav {
    flex-basis: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }

.header__container {
  padding: 0rem 1.5rem; }

.header__container-menuContainer {
  width: 60%; }

.header__container-menuContainer-menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .header__container-menuContainer-menu li a {
    font-size: 1.5rem; }

.dropdown-menu--outLeft {
  left: auto; }
