.footer__container {
    width: 33%;
    font-size: 0.8rem;
}

.footer__container-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer__container-copyright {
    color: grey;
    text-align: center;
    font-style: italic;
}